body {
    background-color: rgb(73, 21, 122);
}



.left-score h2,
.right-score h2 {
    color: white;
}

.left-score p,
.right-score p {
    color: white;
}

.intro h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 130px;
}

.intro p {
    display: inline;
    color: white;
    font-size: 20px;
    background-color: #008B6D;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.winner p {
    color: white;
    font-size: 25px;
}

.winner h2 {
    color: white;
    font-size: 40px;
}

#win,
#lose,
#draw {
    display: none;
    color: white;
}


#right-r,
#left-r {
    width: 200px;
    height: 200px;
}

#right-s,
#right-p,
#left-s,
#left-p {
    width: 200px;
    height: 200px;
    display: none;
}

.chois-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.chois-img img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

@media(max-width:992px) {
    .intro h1 {
        font-size: 40px;
        color: white;
        margin-bottom: 130px;
    }

    .winner h2 {
        color: white;
        font-size: 30px;
    }

    #right-r,
    #left-r,
    #right-s,
    #right-p,
    #left-s,
    #left-p {
        width: 150px;
        height: 150px;
    }

}

@media(max-width: 576px) {
    .left-score h2,
    .right-score h2{
        font-size: 24px;
    }

    .intro p {
        font-size: 15px;
    }

    .intro h1 {
        font-size: 26px;
        color: white;
        margin-bottom: 100px;
    }

    #right-r,
    #left-r,
    #right-s,
    #right-p,
    #left-s,
    #left-p {
        width: 80px;
        height: 80px;
    }

    .chois-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .chois-img img {
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
}